<h1 mat-dialog-title style="text-align: center">Product indexation request</h1>
<div mat-dialog-content style="text-align: center">
  <mat-form-field>
    <input type="number" placeholder="Number of reviews to index" matInput [(ngModel)]="bulkRequest.numberOfReviews">
  </mat-form-field>
  <mat-form-field style="width: 59%">
    <mat-chip-list #chipList aria-label="Products' AINS">
      <mat-chip *ngFor="let productId of bulkRequest.productIds" [selectable]="true"
                [removable]="true" (removed)="removeProductId(productId)">
        {{productId}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="AINS Products to index..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="chipsInputSeparatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addProductId($event)">
    </mat-chip-list>
  </mat-form-field>
</div>
<div mat-dialog-actions style="text-align: center">
  <button mat-button (click)="doAction()">Create</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
